:root{
    --share-black: fade(@black, 16%);
    --share-white: @white;
    --share-font-family: @font-family;
}
.sh-w { //Share widget container
	background: var(--share-white);
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
	font-family: var(--share-font-family);
	font-size: 18px;
	line-height: 21px;
	position: fixed;
	right: 0;
	transform: translate(100%,-100%);
	transition: .25s all ease-in-out;
	top: 80vh;
	z-index: 4;
	* {
		box-sizing: border-box;
		-moz-osx-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased;
		font-smooth: always;
		text-rendering: optimizeLegibility;
		letter-spacing: 0;
	}
    &.native {
        top: 70px;
        transform: translate(100%,0);
        .sh-w_b{
            bottom: 100%;
            transform: translate(-100%,100%);
        }
    }
    &.open {
        box-shadow: var(--share-black) -2px 0 6px;
        transform: translate(0,-100%);
        z-index: 9;
    }
    &.pdp {
        background-color: transparent;
        position: absolute;
        top: 0;
        transform: none;
        &.open {
            box-shadow: none;
            transform: none;
        }
    }
    &_c{
        .pdp & {
            background: var(--share-white);
            border-radius: 4px;
            max-height: 0;
            overflow: hidden;
            transition: .25s all ease-in-out;
        }
        .pdp.open &{
            box-shadow: var(--share-black) 0 1px 6px;
            max-height: 500px;
        }
    }
    &_h {
        align-items: center;
        background: var(--share-title-bg);
        border-top-left-radius: 4px;
        color: var(--share-white);
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 12px 18px;
        &_t {
            font-weight: 700;
        }
    }
    &_l {
        display: flex;
        flex-direction: column;
        padding: 8px;
        &_b {
            align-items: center;
            background: var(--share-white);
            border: 1px solid transparent;
            border-radius: 4px;
            color: var(--share-black);
            cursor: pointer;
            display: flex;
            flex: 1;
            margin-bottom: 8px;
            padding: 8px 16px;
            transition: .2s all ease-in-out;
            text-decoration: none;
            &:last-child {
                margin-bottom: 0;
            }
            &:hover {
                color:var(--share-white) !important;
                text-decoration: none;
            }
            &_i {
                flex-basis: 32px;
                font-size: 29px;
                height: 29px;
                width: 32px;
            }
            &_t {
                font-size: 18px;
                font-weight: 700;
                line-height: 21px;
            }
            & > span {
                margin: 0 auto;
                &:first-child {
                    margin-left: 0;
                    margin-right: 14px;
                }
                &:last-child {
                    flex-basis: 20px;
                    font-size: 20px;
                    height: 22px;
                    margin-left: 14px;
                    margin-right: 0;
                    width: 20px;
                }
            }
        }
    }
    &_b {
        align-items: center;
        background-color: var(--share-white);
        border: 0;
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        bottom: 50%;
        box-shadow: var(--share-black) -4px 0 5px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        transform: translate(-100%,50%);
        transition: .25s all ease-in-out;
        outline: 0;
        padding: 10px;
        position: absolute;
        & > span {
            border: 1px solid var(--share-icon-color);
            color: var(--share-icon-color);
            border-radius: 50px;
            font-size: 22px;
            height: 40px;
            line-height: 36px;
            width: 40px;
        }
        .sh-w.pdp & {
            background-color: transparent;
            bottom: initial;
            box-shadow: none;
            margin-left: auto;
            margin-right: 0;
            position: relative;
            transform: none;
        }
    }
}